<%-include('../header.ejs')%>
<h3><%=__('Welcome')%> </h3>
<h4><%=__('Your password has been changed successfully. Your new password is below: ')%></h4>
<p><%=__('Email: ')%> <%= data.email %></p>
<p><%=__('New Password: ')%> <%= data.password %></p>
<p><%=__('Request you to please change this password at first login.') %></p>
<%-include('../footer.ejs')%>