<%-include('../header.ejs')%>
<% var textAlignProp = data.lang === 'ar' ? 'right' : 'left'; %>
<tr bgcolor="#ffffff">
	<td valign="top" align="center" style="font-size: 40px; font-weight: bold;color: #01afc7;font-family: arial;padding-top: 20px;">
		<%=__('Welcome To WIKICARE')%>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td valign="top" style="font-family: arial; padding-top: 20px;padding-bottom: 5px; padding-left: 15px;">
		<h3 style="text-align: <%= textAlignProp %>;"><%=__('Hi')%> <%= data.fullname %></h3>
		<h4 style="text-align: <%= textAlignProp %>;"><%=__('Please verify the email id using below link')%></h4>
		<p style="text-align: <%= textAlignProp %>"><a href="<%=data.link%>" style="display: block; padding: 8px 20px;text-align: center; border-radius: 5px; color: #ffffff; background: #01afc7; max-width: 100px;text-decoration: none; font-weight: bold; font-size: 14px;margin: 10px 0; text-transform: uppercase"><%=__('verify now')%></a></p>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td valign="top" align="left" style="font-size: 15px;color: #000000;font-family: arial;font-weight: 400;padding:5px 15px;">
		<p style="margin-top: 0; line-height: 22px; text-align: <%= textAlignProp %>"><%=__('For any further assistance, please contact wikicare team- we will be always happy to assist you.')%></p>
	</td>
</tr>
<%-include('../footer.ejs')%>